#proj1,
#proj2,
#proj3,
#proj4,
#proj5 {
  background-color: #4aaaa5;
  color: #ffffff;
  position: absolute;
  z-index: 1;
  width: 272px;
  text-align: center;
  bottom: 14px;
  padding: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

#proj4 {
  width: 197px;
}

.project {
  width: 320px;
  height: 300px;
  float: left;
  position: relative;
  margin: 5px 5px;
}

.projpic {
  max-width: 320px;
  max-height: 300px;
  z-index: 0;
  margin: auto auto;
}

.clearfix {
  clear: both;
}

a {
  color: #ffffff;
  text-decoration: none;
}

#proj1:hover,
#proj2:hover,
#proj3:hover,
#proj4:hover,
#proj5:hover {
  background-color: red;
}

footer {
  position: relative;
}
